header{
    nav{
        div{
            display: flex;
            justify-content: space-between;
            max-width: 1600px;
            margin: auto;
        }
        ul{
            display: flex;
            list-style: none;
            align-items: center;
        }
        .li-link{
            padding: 1.875rem;
        }
        a{
            color: #9F9F9F;
            text-decoration: none;
            font-family: 'montserrat';
            padding: 2.3312rem 0rem 1.7312rem 6.75rem;
            display: block;
        }
        a:hover{
            color: black;
        }
        
    }
    .banniere{
        width: 100%;
     }
}