header {
    nav {
        display: flex;
        justify-content: space-between;
        ul {
            display: flex;
            list-style: none;
        }
        a {
            color: #9F9F9F;
            text-decoration: none;

        }
    }
}